
.d1 {
    background: pink;
}
.d2 {
    background-color: lightblue;
}
.d3 {
    background-color: lightgrey;
}
.d4 {
    background-color: burlywood;
}
.d5 {
    background-color: rosybrown;
}
.d6 {
    background-color: peachpuff;
}


/*---------------------- LAYOUT -----------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

header {
    border-bottom: solid 2px #E2E3E5;
}

.crecer-logo {
    width: 200px;
}

.plan-block {
    .price {
        & div{
            display: inline-block;
        }
        .amount {
            font-size: 32px;
        }
    }
}
footer {
    padding: 30px 0;
    font-size: 15px;
}


/*------ GENERAL STYLES -----*/

.med-size {
    width: 80%;
}
.small-size {
    width: 65%;
}
.tiny-size {
    width: 35%;
}
.shadow-box {
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.19);
    background: #fff;
    border-radius: 8px;
}

/*---------------------- FORM STEPS  -----------------------------*/
.step-form-header {
    h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 23px;
    }
    h4 {
        font-size: 16px;
        font-weight: 400;
    }
}
.hor-spacer {
    padding-left: 29px;
    padding-right: 29px;
}
.step-form-container {
    background:url("../images/gray-bg-content.png") repeat-x 0 0;
}

.step-form-header {
    background: #737B90;
    color: #fff;
    border-radius: 8px;
    padding: 20px 30px 16px 30px;
    margin-bottom: 30px;
}

.step-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    .step {
        display: inline-block;
        width: 28px;
        height: 28px;
        padding-top: 3px;
        border-radius: 50%;
        &.completed {
            border:solid 1px orange;
            color: orange;
        }
        &.current {
            background: orange;
            color: #fff;
        }
        
    }
}

.table th {
    border-top: none;
    border-bottom: none !important;
}

thead th {
    background: #737B90;
    color: #fff;
}

thead th:first-child {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

thead th + th {
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.beneficiary-block {
    background: #FAF2EC;
    border: dashed #DEAF8C 1px;
    border-radius: 5px;
    margin-bottom: 22px;
    .card {
        border: none;
    }
    .card-header {
        color: #EA8648;
        background-color: #FAF2EC;
        border-color: transparent;
    }
    .card-body {
        background: #EFE8E2;
    }
}

.beneficiary-item {
    border: solid 1px #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    .spacer {
        padding: 20px 25px 20px 25px;
    }
    h6 {
        font-weight: bold;
        margin: 0;
        font-size: 12px;
    }
    .beneficiary-name {
        border-bottom: solid 1px #DBDBDB;
        padding-bottom: 11px;
        @media (min-width: 992px) {
            padding-bottom: 0;
            border-bottom: none;
        }
        h6 {
            color: #EB4C6C;
        }
    }
    .beneficiary-contact {
        border-bottom: solid 1px #DBDBDB;
        @media (min-width: 992px) {
            border-bottom: none;
            padding: 0;
        }
        padding: 11px 0;
    }
    .beneficiary-percent {
        padding: 11px 0;
        @media (min-width: 992px) {
            padding: 0;
        }
    }
    .beneficiary-actions {
        background: #F17967;
        padding: 6px;
        height: 38px;
        display: flex;
        justify-content: flex-end;
        @media (min-width: 992px) {
            display: block;
        }
        @media (min-width: 992px) {
            width: 38px;
            position: absolute;
            right: 0;
            top: 0;
            height: 136px;
        }
        .edit, .delete {
            color: #fff;
            width: 53px;
            text-align: center;
            height: 25px;

            @media (min-width: 992px) {
                width: 25px;
            }
        }
        .delete {
            float: right;
            @media (min-width: 992px) {
                position: absolute;
                bottom: 37px;
            }
        }
        .edit {
            float: left;
        }
    }
}


.beneficiary-percent-sum {
    text-align: left;
    .percent-sum {
        padding-left: 28px;
    }
    @media (min-width: 992px) {
        text-align: right;
        padding-right: 117px;;
    }
    @media (min-width: 1200px) {
        padding-right: 160px;
    }
    
}



/* Reset Bootstrap Defaults */
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
}



/*---------------------- FILE UPLOADER ----------------------------*/
input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}

.pip {
    background: #fff;
    width: 100%;
    border: solid 1px #ccc;
    padding: 10px;
    border-radius: 8px;
}

.file-uploader {
    margin-bottom: 20px;
    border: dashed 1px #999;
    border-radius: 8px;
    padding: 10px;
    background: #F4F4F4;
    input[type="file"] {
        background: #fff;
        width: 100%;
        border: solid 1px #ccc;
        padding: 10px;
        border-radius: 6px;
    }
}
